.calculator-display {
    color: white;
    background: #404244;
    font-size: 30px; 
    width: 400px;
    height: 150px;
    border: 2px lightgrey solid;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}