.app-container {
    width: 400px;
    display: block;
    flex-direction: column;
}

.number-row {
    width: 300px;
    height: 100px;
}

.square-buttons {
    display: flex;
}

.math-functions {
    display: flex;
    flex-direction: column;
}

